#modalList {
    li {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:  opacity .5s ease-in;
        &.active {
            opacity: 1;
            max-height: 1000rem;
        }
    }
}